<div class="pillar-beam">
    <div class="pillar-beam__column pillar-beam__column--right">
        <div class="pillar-beam__pages">
            {% include 'pillar/pages' %}
        </div>
    </div>
    <div class="pillar-beam__column pillar-beam__column--left">
        <div class="pillar-beam__colour-picker">
            {% include 'pillar/colour-picker' %}
        </div>

        <div class="pillar-beam__render-alignment">
            {% include 'pillar/render-alignment' %}
        </div>
    </div>
</div>
