<div class="pillar-colour-picker">

    <input type="checkbox" id="pillar-colour-picker" class="pillar-colour-picker__switch">

    <span class="pillar-colour-picker__cover"></span>

    <label for="pillar-colour-picker" class="pillar-colour-picker__open">
        <span class="pillar-colour-picker__swatch pillar-colour-picker__swatch--current">
            <span class="pillar-colour-picker__colour"></span>
        </span>
    </label>

    <div class="pillar-colour-picker__buttons">

        <label for="pillar-pattern-bg--white" class="pillar-colour-picker__button">
            <span class="pillar-colour-picker__swatch pillar-colour-picker__swatch--white">
                <span class="pillar-colour-picker__colour"></span>
            </span>
        </label>

        <label for="pillar-pattern-bg--transparent" class="pillar-colour-picker__button">
            <span class="pillar-colour-picker__swatch pillar-colour-picker__swatch--transparent">
                <span class="pillar-colour-picker__colour"></span>
            </span>
        </label>

        <label for="pillar-pattern-bg--grey" class="pillar-colour-picker__button">
            <span class="pillar-colour-picker__swatch pillar-colour-picker__swatch--grey">
                <span class="pillar-colour-picker__colour"></span>
            </span>
        </label>

        <label for="pillar-pattern-bg--red" class="pillar-colour-picker__button">
            <span class="pillar-colour-picker__swatch pillar-colour-picker__swatch--red">
                <span class="pillar-colour-picker__colour"></span>
            </span>
        </label>

        <label for="pillar-pattern-bg--blue" class="pillar-colour-picker__button">
            <span class="pillar-colour-picker__swatch pillar-colour-picker__swatch--blue">
                <span class="pillar-colour-picker__colour"></span>
            </span>
        </label>

        <label for="pillar-pattern-bg--black" class="pillar-colour-picker__button">
            <span class="pillar-colour-picker__swatch pillar-colour-picker__swatch--black">
                <span class="pillar-colour-picker__colour"></span>
            </span>
        </label>

    </div>
</div>
