<div class="pillar-render-alignment">

    <input type="checkbox" id="pillar-render-alignment" class="pillar-render-alignment__switch">

    <span class="pillar-render-alignment__cover"></span>

    <label for="pillar-render-alignment" class="pillar-render-alignment__open">
        <span class="pillar-render-alignment__current">
            <span class="pillar-render-alignment__icon"></span>
        </span>
    </label>

    <div class="pillar-render-alignment__buttons">
        <label class="pillar-render-alignment__button pillar-render-alignment__button--none" for="pillar-render-alignment--none">
            <span class="pillar-render-alignment__icon"></span>
            <span class="pillar-render-alignment__label">None</span>
        </label>

        <label class="pillar-render-alignment__button pillar-render-alignment__button--left" for="pillar-render-alignment--left">
            <span class="pillar-render-alignment__icon"></span>
            <span class="pillar-render-alignment__label">Left</span>
        </label>

        <label class="pillar-render-alignment__button pillar-render-alignment__button--right" for="pillar-render-alignment--right">
            <span class="pillar-render-alignment__icon"></span>
            <span class="pillar-render-alignment__label">Right</span>
        </label>
    </div>
</div>
