<div class="pillar-pattern">
    <div class="pillar-pattern__upper">
        {% if url is defined %}
        <div class="pillar-pattern__breadcrumbs">
            {% include 'pillar/breadcrumbs' with {
                "url": url
            } %}
        </div>
        {% endif %}
    </div>

    <div class="pillar-pattern__render">
        {% include template with data.relative only %}
    </div>

    <div class="pillar-pattern__lower">
        <div class="pillar-pattern__codeviewer">
            {#
                template: relative path to template,
                data: array of data
            #}
            {% include 'pillar/codeviewer' with {
                'uid': group|replace({' ' : '-'}) ~ '-' ~ random(),
                'template': template,
                'data': data
            } %}
        </div>
    </div>
</div>
