<div class="pillar-pages">
    <div class="pillar-pages__links">
        {% include 'pillar/button' with {
            "classes": "pillar-button--pages",
            "href": "/pages",
            "label": "Pages"
        } only %}

        {% include 'pillar/button' with {
            "classes": "pillar-button--patterns",
            "href": "/",
            "label": "Patterns"
        } only %}
    </div>
</div>
